@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/optimized';
@import 'blocks/service';


* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
